body {
    background-color: #ffbac9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    text-align: center;
}

.maxScore{
    width: 15vw;
    height: 10vh;
    position: absolute;
    top: 0;
    right: 0;
}

.header{
    padding-top: 10vh;
    color: #333333;
    font-size: 50px;
}

h3{
    color: #333333;
    margin-bottom: 100px;
}

.numberContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bilmiom{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

input{
    height: 30px;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

button{
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    transition: ease 0.3s;
}

button:hover{
    color: #f0f0f0;
    background-color: #333333;
    cursor: pointer;
}

.resetMaxScore{
    width: 150px;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
}

.numbers{
    font-size: 25px;
}

.result{
    font-size: 25px;
}
